@tailwind base;
@tailwind components;
@tailwind utilities;

.image-background {
    background-image: url("../../public/fondo.JPG");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image-perfil {
    background-image: url("../../public/amazonas.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

.input{
    outline: none;
  }
.opacity {
    background: rgba(20, 20, 20, 0.5);
  }
.text-color{
    color: rgb(40,40,40);
}
.back-color{
    background-color: rgb(0, 96, 150);
}
.background-gris{
  background-color: rgb(47,47,47);
}
.background-color{
  background-color: rgb(230,230,230);
}